{% extends "base.html" %}
{% block navbar %}
<ul class="list-unstyled components">
        <p>Time Series Prediction</p>
        <li class="active">
            <a href="home" aria-expanded="false">Home</a>
        </li>
        <li>
            <a href="jobs" aria-expanded="false">Pending Jobs</a>
        </li>
        <li>
            <a href="results" aria-expanded="false">Results</a>
        </li>
        <li>
            <a href="datasets" aria-expanded="false">DataSets</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
<script>
        $('.file-upload').file_upload();
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home">Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2>DataSet Upload</h2>
    <br>
    <div class="col-4">
        
        <p>
            Please upload your data for our engine to begin making predictions.
        </p>
        <div class="file-upload-wrapper">
                <input type="file" id="input-file-max-fs" class="form-control" data-max-file-size="2M" />
        </div>
        <br>
        <div>
            <a href="jobs">
            <button class="btn btn-primary" "> Analyze Data </button>
            </a>
    </div>
</div>

{% endblock %}